[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "betafunctions"]
	path = betafunctions
	url = https://github.com/haakoneidemhaakstad/betafunctions
